html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

a {
  color: #8f2440;
  font-family: "PT Sans";
  text-decoration: none;
}

h1 {
  font-family: "PT Sans";
  color: #3f1622;
  font-size: 1.5rem;
}

img {
  width: 100%;
}

h2 {
  color: #3f1622;
  font-family: "PT Sans";
}

nav ol {
  list-style-type: none;
  font-size: 1.125rem;
  font-weight: bold;
}

figcaption {
  text-align: center;
  font-style: italic;
}

.first {
  list-style-type: lower-greek;
}

.second {
  list-style-type: circle;
}

cite {
  font-size: 1.5rem;
}

.list {
  font-family: "PT Serif";
}

.chris {
  font-size: .8rem;
}

p {
  font-family: "PT Serif";
  font-weight: normal;
}

dd {
  font-family: "PT Serif";
  line-height: 1.5;
}

dt {
  font-family: "PT Serif";
  line-height: 1.5;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

blockquote {
  font-size: 1.5rem;
}
