html{
  background-color: #c9b5ab;
}

a{
  color: #8f2440;
  font-family: "PT Sans";
  text-decoration: none;
}

h1{
  font-family: "PT Sans";
}

img{
  width:100%;
}

h2{
  color: #3f1622;
  font-family: "PT Sans";
}

figcaption{
  text-align: center;
  font-style: italic;
}

cite{
  font-size: 1.5rem;
}

p{
  font-family: "PT Serif";
  font-weight: normal;
}

dd{
  font-family: "PT Serif";
  line-height: 1.5;
}

dt{
font-family: "PT Serif";
line-height: 1.5;
}

a:hover{
  color: #3f1622;
  text-decoration: underline;
}
